extends ../layouts/main-layout 

block styles 
    link(rel="stylesheet" href="/css/cart.css")

block content 
    if orders.length > 0
      ul.cart__item-list 
        each order in orders 
          li.cart__item 
            h1 #{order._id} 
            ul.cart__item-list
              each product in order.items
                li.cart__item 
                  h3 #{product.title} (#{product.quantity})
    else 
        h1 No Orders found !